body {
  background-color: #d5e1ef;
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.main-box {
  background-color: white;
  width: 300px;
  border-radius: 25px;
  height: 460px;
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 60% 10% 10%;
  row-gap: 25px;
}

.qr-image {
  margin-top: 20px;
  width: 270px;
  border-radius: 25px;
}
h1 {
  width: 225px;
  color: #393e46;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

p {
  width: 225px;
  color: grey;
  font-size: 14px;
  text-align: center;
}

fotter {
  font-size: 11px;
  text-align: center;
}
a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
