body {
  background-color: #d5e1ef;
  font-family: sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-box {
  background-color: white;
  margin: 100px auto 100px;
  width: 300px;
  border-radius: 25px;
  height: 460px;
}

.qr-image {
  width: 270px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 25px;
}
h4 {
  text-align: center;
  width: 75%;
  margin: 25px auto 5px;
  color: #393e46;
  font-weight: bold;
}

p {
  text-align: center;
  width: 75%;
  margin: 20px auto 10px;
  color: grey;
  font-size: 14px;
}
